extends layout

block content
  h1(class="style")= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let umbrellaid = toShow._id
    - let umbrellabrand = toShow.brand
    - let umbrellacolor = toShow.color
    - let umbrellacost = toShow.cost
    - let actionid = "/resource/umbrella/" + umbrellaid

    script let actionid = "#{actionid}"
    div
      div.row
        div(class='umbrellaAttr mr-3') umbrella ID is:
        div(class="style umbrella") #{umbrellaid}
      div.row
        div(class='umbrellaAttr mr-3') umbrella brand is:
        div(class="style umbrella") #{umbrellabrand}
      div.row
        div(class='umbrellaAttr mr-3') umbrella color is:
        div(class="style umbrella") #{umbrellacolor}
      div.row
        div(class='umbrellaAttr mr-3') umbrella cost is:
        div(class='style umbrella') #{umbrellacost}
      

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the umbrella collection
      window.location.href='/umbrella'
    }
  script.
    function deleteOnid() {
      console.log("Deleting the Resource")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.json();   // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/umbrella'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }